.ytp-fullscreen-button {
    display: none !important;
}

.giveback {
    font-size: 14px;
    font-style: italic;
    color: #777;
}

.giveback a {
    color: #777;
    text-decoration: underline;
}
